<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Buy Form</title>
  </head>
  <body>
    <form method="post" action="/buy">
      <label for="name" >Nama barang</label>
      <input type="text" name="name"></input>
      <label for="qty"> Quantity</label>
      <input type="text" name="qty"></input>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
