<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
  </head>
  <body>
<h1> Hello this is your shopping cart</h1><br>
<p>Name : <%= data.name %></p>
<p>Quantity : <%= data.qty %></p>
  </body>
</html>
