<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index EJS</title>
  </head>
  <body>
    Welcome <%= id %> <br>

    Your name is : <%= data.name %> <br>
    your github id : <%= data.github %> <br>
    you linkedin id : <% data.linkedin %> <br>
  </body>
</html>
